
*{
    box-sizing: border-box;
}

.container{
    max-width: 100% !important;
}

body{
    background-color: #F7DCB9 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
